body {
  font-size: 1.3em;
  color: white;
  background-color: #000;
}

.jumbotron {
  color: #000;
}

button:hover {
  background-color: green;
}


.brandname {
  font-weight: bolder;
}

#name {

}

#title {
  letter-spacing: 5px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 0px 15px;
  margin: 50px 0px;
  width: 8%;

}

a:hover {
  text-decoration: none;
  background-color: white;
  font-weight: bold;
  color: black;
  padding: 0px 15px;
  margin: 50px 0px;
  width: 8%;
}

.brandname {
  width: 45%;
  font-size: 2.5em;
  margin: 100px 30px 100px 30px;
}
